<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>GZIPFilter</filter-name>
        <filter-class>com.jspbook.GZIPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GZIPFilter</filter-name>
        <url-pattern>/data</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Provides the server about response.</description>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>org.hapiserver.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Shows the capabilities of the HAPI server</description>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <servlet-class>org.hapiserver.CapabilitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Shows the catalog of the HAPI server</description>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>org.hapiserver.CatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>org.hapiserver.InfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>org.hapiserver.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelationsServlet</servlet-name>
        <servlet-class>org.hapiserver.RelationsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Returns server semantics, which is 
experimental and proposed for 3.2</description>
        <servlet-name>SemanticsServlet</servlet-name>
        <servlet-class>org.hapiserver.SemanticsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>provides human-readable introduction and example queries</description>
        <servlet-name>LandingServlet</servlet-name>
        <jsp-file>/hapi/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>Redirect to landing servlet</description>
        <servlet-name>EmptyServlet</servlet-name>
        <servlet-class>org.hapiserver.LandingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/hapi/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <url-pattern>/hapi/capabilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/hapi/catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/hapi/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/hapi/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelationsServlet</servlet-name>
        <url-pattern>/hapi/relations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemanticsServlet</servlet-name>
        <url-pattern>/hapi/semantics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingServlet</servlet-name>
        <url-pattern>/hapi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmptyServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/hapi</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/hapi/error.jsp</location>
    </error-page>
</web-app>
